{%extends "base.html"%}
{% load static %}
{% block myblock %}
<style>
	.a{
		background-image:url("{%static 'images/th9.jpg'%}");
		background-size:cover;
		height: 300px;
		
		
	}
	.DR
	{
		background-color:  rgba(160, 164, 167, 0.644);

	}
	
.b{
	
	text-align: center;
	
 color:white;
	

}
a 
{color: white;}
a:hover 
{ text-decoration: none;
color:white;}
 h2 
{
	border-bottom:3px solid rgb(62, 168, 230);
	padding:20px 0;
}    

	</style>
	{% endblock%}
    
	{% block headblock%}

	<div class="container-fluid">
		<div class="row a">
	<div class="col-md-12 DR">
		<div class="b p-5" >
			<h1 class="h1">About Us</h1>
			<span><i class="fas fa-home text-info"></i><a href="{% url 'home'%}"> Home ></a></span>
			<span> <a href="">About Us</a></span>
	</div>
		</div>
		</div>
	</div>
	<div class="container ">
	<div class="row">
		<div class="col-md-6 ">
<h2>Buy Or Sell Your House In Few<br/>
Seconds With Hommy.Com.</h2>
<p class="text-info mt-5">So you’ve put your property up on the internet, you’ve set the asking price and posted some nice photos. Now, the description of the house is the final step in convincing a potential buyer to make an offer, or the potential tenant to call you and ask about the rental offer. </p>	
	<div>
	
</div>
	</div>
	

<div class="col-md-6 my-3 ">
<img src="{%static 'images/prpt12.jpg'%}" style="height:350px; width:400px;">
</div>
</div>
</div>
<div class="container ">
	<div class="row"> 
		<div class="col-md-6">
			<h2>Why Are We Different<br/> From The Others</h2>
			<p class="mt-5">Different types of estates, which are recognized by law, further define the real estate rights associated with property ownership. The kind of estate depends on the terms of the lease, deed, will, land grant and/or bill of sale through which the estate was received.</p>
		</div>
		<div class="col-md-6">
		<p class="mt-5">
			✔We Provide Innovative Solutions With The Best<br/><br/>
			✔We Offer Our Clients Support In Destination<br/><br/>
			✔Promoting Unique Story Each Destination<br/><br/>
			✔Strong Partnership With International Agencies<br/><br/>
			✔Helping Local Small Business Reaching Their Goalss<br/><br/>
			✔Complete Services Including Strategic Planning
			</p>
				
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
			<h1>Meet Our Agents</h1>
			<p>We help you to grow business with More than 35 years experience with these<br/> services</p>
			</div>
		</div>
	</div>
			<div class="container-fluid">
				<div class="row">
			<div class="col-md-3 text-center">
				<img src="{%static 'images/agent6.jpg'%}" height="310px"; width="265px;">
				<h5  style="text-align:center;">Arafa Sherief</h5>
				<p>4 properties</p>
			</div>
			<div class="col-md-3 text-center">
				<img src="{%static 'images/agent7.jpg'%}" height="310px;" width="265px;">
				<h5 style="text-align:center;" >Macro Ghaly</h5>
				<p> 6 properties</p>
			</div>
			<div class="col-md-3 text-center">
				<img src="{%static 'images/agent3.jpg'%}" height="310px;" width="265px;">
				<h5 style="text-align:center;">Mody Magdy</h5>
				<p>3 properties</p>
			</div>
			<div class="col-md-3 text-center">
				<img src="{%static 'images/agent1.jpg'%}" height="310px;" width="265px;">
				<h5  style="text-align:center;"> Sherief Arafa</h5>
				<p>2 properties</p>
			</div>
		</div>
	</div>
	<div class="container-fluid  ">
<div class="row bg-info">
	<div class="col-md-6  text-white">
		<h3>10% Off If You Subscribe Now</h3>
		<p>Get the best prices right in your email</p>
	</div>
	<div class="col-md-6">      
		<input type="Email" placeholder="Enter Your Email Address..." class="rounded-pill " style=" padding:7px; border:none; "   
		><div class="input-group-append">
		<i class="fas fa-paper-plane bg-info text-white" style=" border-radius: 50%; padding:8px;"></i>
		</div>	
	</div>

</div>
</div>
	{% endblock %}