{% extends 'dash_board.html'%}
{% load static%}


{% load bootstrap4 %}
{% block dashblock %}
     <div class="container-fluid" >
        <div class="row  text-secondary pb-1">
            <div class="col-md-12 text-center text-light p-5" style="background:url({%static 'images/inn9.jpg' %}); background-size: 100% 200px;">
                <h1 style="font-size: 40PX;">Add New Property</h1>
                
              <span ><i class="fas fa-home "></i><a href="{% url 'home'%}" class="abcd text-primary"> Home ></a></span>
              <span> <a href="{% url 'cust_dashboard'%}" class="abcd text-primary">My Profile</a></span>
            </div>
            <div class="col-md-6 bg-danger mx-auto">
                <h1 class="text-center text-dark">Add Property</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {%  bootstrap_form  form %}
                <input type="submit" value="Add Property" class="btn btn-success">
            </form>
        </div>
            </div>
            </div>
            {% if status %}
            <script>
                alert("{{status}}");
                window.location="/cust_dashboard"
            </script>
            {% endif %}
        {% endblock %}