{% extends 'base.html'%}
{% load static %}
{% block myblock%}
    <style>
        .backg{background: rgb(142, 240, 240);}
        .hover:hover{
                box-shadow: 0px 0px 0px 10px pink; padding: 10px;
        }
        .eb{
            color: rgb(121, 7, 121);
        }
    </style>

    {% endblock %}

    {% block headblock %}
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center text-light p-5" style="background: url({%static 'images/prpt7.jpg'%}); background-size: 100% 200px;">
              {% if abcd %}
                <h1 style="font-size: 40PX;"> Total {{property|length}}Result matched</h1>
                {% else%}
                <h1 style="font-size: 40PX;">All Properties ({{property|length}})</h1>
                
                <span ><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" class="eb"> Home ></a></span>
                
			<span> <a href="{% url 'cust_dashboard'%}" class="eb">My Profile></a></span>
                <span> <a href="{% url 'all'%}" class="eb">All Properties</a></span>
                
                {% endif %}
            </div>
            </div>
            </div>
            
        <div class="container-fluid">
            <div class="row">
                {% for i in property %}
                <div class="col-md-4 p-4">
                    <div style="border:1px solid grey" class="p-1 hover">
                        <img src="/media/{{i.property_image}}"  height="200" width="100%" alt="">
                        <h3 style="color:indigo; text-align:center">{{i.property_name}}</h3>
                        <a href="{%url 'single'%}?pid={{i.id}}">{{i.property_name}}</a>
                        <h4>
                       
                            <span><del></del>&#8377; {{i.price}}</del></span>
                            <span>&#8377; {{i.booking_amount}}</span>

                        </h4>
                        <h5><strong>{{i.property_category.cat_name}}</strong></h5>
                        <form action="{% url 'cart'%}" method="POST">
                            {% csrf_token%}
                              <input type="hidden" name="pid" value="{{i.id}}">
                              <input type="hidden" name="qty" value="1">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="fa fa-shopping-cart"></i>
                                 Add To Cart
                            </button>
                        </form>
                    </div>

                </div>
                {% endfor%}
            </div>
             
        </div>
       
    {% endblock %}
     

