<!DOCTYPE html>
{% load static %}
<html>

<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
     <title>my website</title>

     <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
     <script src="{%static 'jquery.js'%}"></script>
     <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{%static 'images/logo1.png'%}">
   <link rel="stylesheet" href="{% static 'fontawsm/css/all.min.css'%}">
    <style>
       .container-fluid{
            overflow:hidden;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
        #ar{
          color:gray;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      
    /*.fixed-footer{
        width:100%; 
        bottom:0px;
        position: absolute;
        Padding-bottom:100px;
    }*/
         h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .footer{
         background-color: rgba(0, 0, 0, 1);
            color:white;
            
           height:100px;
          Width:100%;
          line-height:100px;
        }
        
         .form-control {
            border-radius: 5px;border:none;
            width: 100%;
        }
        .z{
            /* position:relative;  */
            background-color: #4caf50;
            border-radius: 0 5px 5px 0;
            color:white; border:none;
            /* float: right;     */
           
        } 
       .icon i{
            padding:10px;
            background-color:grey;
            border-radius: 50%;
        }
        .icon i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
          
    </style>
{% block myblock%}

{% endblock%}
</head>
<body>
    
<div class="container-fluid">
      
    <div class="row header bg-dark">
        <div class="col-sm-4">
                <i class="far fa-envelope"></i>
                <a href="" id="ar">rverma78141@gmail.com</a>
                <i class="fas fa-headphones"></i>
                <a href="" id="ar">+8356896453476</a>
        </div>
        <div class="col-sm-3">
           <i class="fab fa-facebook-f"></i>
           <i class="fab fa-vimeo-v"></i>
           <i class="fab fa-linkedin-in"></i>
           <i class="fab fa-pinterest"></i>                         
       </div>
   <div class="col-md-2">
        <button type="submit" class="btn btn-primary ">
            <a href="{%url 'reg'%}" id="ar">signup</a>    
        </button>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-danger ">
            <i class="fa fa-shopping-cart"><a href="{% url 'cart'%}" id="ar">  Add To Cart</a></i>
        </button>
    </div>
</div>
</div>


<div class="container-fluid"> 
    <div class="row" id="nav">
        <div class="col-md-12 px-0" >
           <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="#" class="navbar-brand"><h1 class="text-primary"><img src="{%static 'images/logo1.png'%}" height="50px" width="50px"> Hommy.com</h1></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <ul class="navbar-nav">
                       <li class="nav-item">
                           <a href="{% url 'home'%}" class="  text-center nav-link ">Home</a>
                       </li>
                        <li class="nav-item">
                           <a href="{% url 'about'%}" class="text-center nav-link ">About</a>
                       </li>
                       <li class="nav-item">
                          <a href="{% url 'contact'%}" class="text-center nav-link ">Contact Us</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a href="{% url 'all'%}" class=" nav-link text-center  dropdown-toggle" data-toggle="dropdown">Categories</a>
                         <div class="dropdown-menu">
                             {% for c in Category %}
                                 <a href="{% url 'all'%}?cat={{c.id}}" class="dropdown-item">{{c.cat_name}}</a>
                      
                          {% endfor %}
                         </div>
                     </li>
                        <li class="nav-item">                        
                           <a href="{% url 'all'%}" class="nav-link ">All Property </a>
                       </li> 
                    
                 
                  </ul>
              </div>
            </div>
             <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                  <li class="nav-item mr-2">
                        <a href="{% url 'cust_dashboard'%}" class="nav-link">Welcome {{user.username}}</a>
                 </li>
                 {% else %}
                 <li class="nav-item mr-2">
                        <a href="{%url 'reg'%}" class="nav-link btn btn-outline-light">signup</a>
                 </li>
                  <li class="nav-item">
                     <a href="{% url 'user_login'%}" class=" nav-link btn btn-outline-light">Login</a>
                  </li>
                 {% endif %}
              </ul>
          </div> 
        
      </nav>
   </div>
</div>

   
{% block headblock%}


{% endblock%}
        
 <div class="container-fluid text-muted  " style="background:rgba(0, 0, 0, 0.9);">
     <div class="row  ">
         <div class="col-md-3 ">
             <h5>Hommy.com</h5>
             <p class="text-justify">Hommy.Com is Properties prides itself on beign one of most progressive property management firms in our areas of service.</p>
                <div class="icon">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-vimeo-v"></i>
                  <i class="fab fa-linkedin-in"></i>
                  <i class="fab fa-pinterest"></i>                           
                </div>  
            </div>
           <div class="col-md-3">
               <h5>Contact Us</h5>
                  <a href="" id="ar"><i class="fas fa-headphones"></i>012-3456-789</a><br/>
                   <a href="" id="ar"><i class="fas fa-envelope"></i>rverma78141@gmail.com</a >
                     <p><i class="fas fa-map-marker-alt"></i>184 Main Collins Street<br/>Chicago,United States</p>                        
           </div>
             <div class="col-md-3">
                 <h5>Quick links</h5>
                 <p><a href="{% url 'home'%}" id="ar">Home</a></p>
                 <p><a href="{% url 'about'%}" id="ar">About </a></p>
                 <p><a href="{% url 'contact'%}" id="ar">Contact Us</a></p>
                 <p><a href="{%url 'reg'%}" id="ar">Registration</a></p>
                 
             </div>
               <div class="col-md-3">
                    <h5>Newslatter</h5>
                    <p>Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form>
                      <div class="form-group">
                        <input type="text" class="form-control " id="in" placeholder="Enter your email">
                      </div>
                      <div class="form-group">
                        <input type="submit" class=" btn btn-success btn-block"  id="in"value="Subscribe">
                      </div>
                 </form> 
             </div>
          </div>
      </div>
       
          <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 align-center my-0  px-0">
                     <div class="footer text-center">& copyright 2020 .All rights reserved</div>
                  </div>
             </div>
         </div>
      </body>
</html>




