{% extends 'base.html'%}
{% load static %}
{% block myblock %}
<style>
    .cart td{
       width: 20%;
}
.rbb{
    color: bisque;
}
</style>
{% endblock %}


    {% block headblock %}
    {% if user.is_superuser%}
      <h1 class="jumbotron my-3">YOU ARE NOT ALLOWED HERE</h1>
      {% else %}
      {% if item|length == 0 %}
      <div class="container-fluid">
          <div class="jumbotron alert alert-danger">
             &times; Yours Shopping Cart is empty!!!
          </div>
      </div>
      {% else %}
     <div class="container-fluid" style="background: url({%static 'images/ind.jpg'%}); background-size:100% 100%;">
        
        <div class="row" style="background:rgba(0, 0, 0, 0.5)">
            <div class="col-md-12 text-center text-light py-5 text-center  " >
             {% if status %}
                 <h1>{{status}}</h1>
             {% else %}
                <h1>My Cart({{item|length}})</h1>
                <span ><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" class="rbb"> Home ></a></span>
                <span> <a href="{% url 'all'%}" class="rbb">All Properties></a></span>
                <span> <a href="{% url  'cart'%}" class="rbb">My Cart</a></span>
                {% endif %}
            </div>
            </div>
            </div>
         {% if user.is_authenticated %}   
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 my-5 table-responsive" >
                    <div style="box-shadow:0px 0px 10px gray;">
                      {% if msz %}
                       <div class="{{cls}} mt-3">{{msz}}</div>
                      {% endif %}
                      <table class="table cart">
                          <thead>
                              <tr>
                                  <th>Image</th>
                                  <th>Property Name</th>
                                  <th>Property Price</th>
                                  <th>Quantity</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for i in item %}
                              <tr id="row{{i.id}}"> 
                                  <td><img src="/media/{{i.property.property_image}}" style="height:100px; width: 150px;"></td>
                                  <td>{{i.property.property_name}}</td>
                                  <td><del>&#8377;{{i.property.price}}</del>{{i.property.booking_amount}}</td>
                                  <td>{{i.Quantity}}</td>
                                  <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-primary">&times; Remove</button></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                </div>
                <div class="col-md-3 my-5 mx-auto"style="box-shadow:0px 0px 10px grey;">
                      <h2 class="text-center">CHECKOUT</h2>

                    <table class="table">
                        <tr>
                            <td>Item Total</td>
                            <td id="item_total"></td>
                        </tr>
                        <tr>
                            <td>Offered Price</td>
                            <td id="disc"></td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td id="quantity"></td>
                        </tr>
                        
                        <tr>
                                <td>booking_amount</td>
                                <td id="Offer"></td>
                            </tr>
                             <tr style="border-top:2px solid dotted">
                                <td>Grand Total</td>
                                <td id="grand_total"></td>

                             </tr>
                    </table>
                       <div class="p-3">
                           <a href="{% url 'process_payment'%}" class="btn btn-success btn-block btn-sm">PROCEED TO PAY<span id="btamt"></span></a>

                       </div>


                </div>
                 
           </div>
     </div>
     <script>
         function grandTotal(){
             $.ajax({
                 url:"{% url 'get_cart_data'%}",
                 type:"get",
                 success:function(data){
                     p=Math.round(100-((data.booking_amount/data.total)*100),2);
                     save=data.total-data.booking_amount;
                     $("#item_total").html("&#8377;"+data.total);
                     $("#disc").html("&#8377;"+data.booking_amount);
                     $("#Offer").html("&#8377;"+save+"(<span class='text-success'>"+p+"%</span>)");
                     $("#quantity").html(data.quan+"items");
                     $("#grand_total").html(save);
                 }
             })
         }
         grandTotal();
         

          function remove_cart(id){
              $.ajax({
                  url:"{%url 'change_quan'%}",
                  type:'get',
                  data:{delete_cart:id},
                  success:function(data){
                       grandTotal();
                       $("#row"+id).hide();
                  }
              })
          }
        
     </script>
     {% endif %}
        {% endif %}
        {% endif  %}
       
    {% endblock %}
     

