{%extends "dash_board.html"%}
{% load static %}
{% block myblock %}
    <style>
            .bg{
                background:url("{% static 'images/th.jpg'%}");background-size:cover;
            }
            .ht{height:100px;}
           .from-gruop{
               border:3px solid #f1f1;

           } 
        input[type=password]{
            color:brown; padding: 12px 20px; margin: 8px 0; border:1px solid wheat; box-sizing: border-box;
        }
          .btn:hover{
              opacity: 0.8;
          } 
         /* #form{
                   height: 100px;position:absolute; top: 50%; margin-top:50px; width:75%; left: 50%; margin-left: -37.5%; display: inline-block;
          } */
         .form-control{
             display: inline-block;
         }
         .chng{
             display: online-block;
         }
        </style>

        {% endblock%}
        {% block dashblock %}
    
          <div class="container-fluid">
              <div class="row bg text-center font-weight-bold text-white">
                    <div class="col-md-12" style="background:rgba(30, 88, 150, 0.151);padding:100px 0px">
                        <h1 class="chng">Change password</h1>
                        <span ><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" class="ab"> Home ></a></span>
                        <span> <a href="{% url 'change'%}">Change Password</a></span>
                    </div>
                </div>
                
               <div class="row bg-light ">
                  <div class="col-md-6 mx-auto">
                     <form class="pt-4" method="POST">
                            {% csrf_token %}
                         <div class="form-group">
                             <div>
                                 <h1 class="text-center">Get Your Password</h1>
                             </div>

                           <div>
                                {% if msz %}
                                    <div class="alert {{col}}">{{msz}}</div>
                             {% endif %}
        
                               <label for="">Old password</label>
                              <input type="password" placeholder="Enter password" required name="cpwd" class="form-control">
                           </div>
                         <div>
                             <label for="">New password</label>
                             <input type="password" placeholder="Enter password" required name="npwd" id="pas"  onkeyup="check_pass()" class="form-control">
                          </div>
                          <div>
                              <label for="">Confirm password</label>
                               <input type="password" placeholder="Enter password" id="cpas"  required onkeyup="check_pass()" class="form-control">
                           </div>
                           <div class="form-group">
                               <input type="submit" class="btn btn-primary rounded-pill" value="Changes" id="sbbtn">
                            </div>
                         </div>
                       </form>
                   </div>
                </div>
            </div>
            <script>
                function check_pass(){
                    let p= $("#pas").val();
                    let cp= $("#cpas").val();
                    if(p==cp){
                         
                        $("#pas").css("border","1px solid green");
                        $("#cpas").css("border","1px solid green");
                        $("#sbbtn").removeAttr("disabled");
                    } else{
                        $("#pas").css("border","1px solid red");
                        $("#cpas").css("border","1px solid red");
                        $("#sbbtn").attr("disabled","disabled");
                    }
                }
            </script>
 {% endblock%}