{% extends 'base.html'%}
{% load static %}
{% block myblock %}
     
      
<style>
        .bg{
            background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{%static 'images/prpt12.jpg'%}");background-size:cover;
        }
        .ht{height:100px;}
    </style>
    {% endblock %}
    
 {% block headblock%}
 <div class="container-fluid">
 <div class="row bg text-center  text-white">
    <div class="col-md-12" style="background:rgba(o, 0, 0, 0.5);padding:100px 0px">
        <h1>Contact Us</h1>
        <p>Home &gt; Contact &gt;</p>
    </div>
</div>
</div>

<div class="container" style="width:80%">
<div class="row bg-light">
    <div class="col-md-6 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523637!2d76.69247711473686!3d30.71682269345112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1581330313875!5m2!1sen!2sin mt-3" width="100%" height="400"
         frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-6">
        <h2>Get In Touch</h2>
        <form  action="" method="POST" class="pt-4">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" placeholder=" Enter Your Name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder=" Enter Your Email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Subject"  name="subject"class="form-control">
            </div>
            <div class="form-group">
                <textarea placeholder="Message.." rows="6" name="message" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary rounded-pill" value="Send Message">
            </div>
        </form>
    </div>
</div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12 table-responsive">
        <h2 class="text-center ">previous feedbacks</h2>
        <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
       <table class="table table-bordered table-striped table-hover">
           <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>subject</th>
                    <th>message</th>
                    <th>Date</th>
                </tr>

           </thead>
           <tbody>
                {% for msg in messages  %}
              
                <tr> 
                    <td>{{msg.id}}</td>
                    <td>{{msg.name}}</td>
                    <td>{{msg.email}}</td>
                    <td>{{msg.subject}}</td>
                    <td>{{msg.message}}</td>
                    <td>{{msg.added_on}}</td>
                </tr>
        {% endfor %}
           </tbody>
       </table>
    </div>


 </div>
</div>
<div class="container-fluid">
<div class="row py-5">
    <div class="col-md-12 text-muted">
        <p>Contact Information</p>
    </div>
    <div class="col-md-3">
        <div class="bg-light ht p-3">
            Address: 198 West 21th Street, Suite 721 New York NY 10016
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-light ht p-3">
            Phone: + 1235 2355 98
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-light ht p-3">
            Email: info@example.com
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-light ht p-3">
            www.exmaple.com
        </div>
    </div>
   </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}

 {% endblock %}
