{%extends "dash_board.html"%}
{% load static %}
{% block myblock %}

<style>
	.a{
		background-image:url("{%static 'images/h5.jpg'%}");
		background-size:cover;
		height: 300px;
		
		
	}
	.DR
	{
		background-color:  rgba(19, 18, 18, 0.644);

	}
	
.b{
	
	text-align: center;
	margin-top:10px;
color:white;
	

}
a 
{
	color: white;
	text-decoration: none;
}
.m h4{
            border-bottom:2px solid #1e9bd4;
            
             padding:  10px 0;
             }
      .form-group{
          padding-top: 20px;
      }
       
       
	
	</style>
{% endblock %}
{% block dashblock %}
    <div class="container-fluid">

		<div class="row a">
	<div class="col-md-12 DR">
		<div class="b p-5" >
			<h1 id="h">My Profile</h1>
			<span><i class="fas fa-home text-info"></i><a href="{% url 'home'%}"> Home ></a></span>
			<span> <a href="">My Profile</a></span>
	</div>
		</div>
		</div>
    </div>
      <div class="container mt-5">
		 <div class="row">
			  <div class="col-md-5 bg-light text-center">
                   <div class="text-center py-2">
                            {% if data.profile_pic %}
                            <img src="/media/{{data.profile_pic}}" style="height:250px; width:250px; border-radius:50%">
                            {% else %}
                            <img src="{% static 'images/user.png'%}" style="height:250px; width:50px; border-radius:50%">
                            {% endif %}
                    </div>
             	 <div>	
             </div>
    </div>
<div class="col-md-6 m ml-3 bg-light ">
<h4>Personal Information</h4>
<form method="POST">
    {% csrf_token %}
        <div class="from-group">
    <label>Your Name</label>
    <input type="text"placeholder="enter your name" class="form-control" value="{{user.username}}">
        </div>
        <div class="from-group">
    <label>Your Phone</label>
    <input type="number"placeholder=""  class="form-control" value="{{data.contact_number}}">
        </div>
    <div class="from-group">
    <label> Your City</label>
        <input type="text"placeholder=""  class="form-control" value ="{{data.city}}">
    </div>
 
    <div class="from-group">
    <label>Your Email</label>
    <input type="Email"placeholder="enter email"  class="form-control" value="{{user.email}}">
    </div>
    <div class="from-group">
    <label>About You</label>
    <textarea name="about" name="about" placeholder="write about yourself" class="form-control">{{data.about}}</textarea>
    </div>        

</form>
    </div>
        </div>
        <div class="row">
            <div class="col-md-5 m  bg-white">
                <h4>Manage Account</h4>
                    <a href="{% url 'cust_dashboard'%}">
    
                <i class="fas fa-user text-info m-2"> My Profile</i> </a><br>
                    <a href="{%url 'add'%}">
                <i class="fas fa-plus text-info m-2">Submit New Property</i>  </a><br>
                   <a href="{% url 'myproperty'%}">

                <i class="fas fa-file-archive text-info m-2">My Properties</i></a><br>
                <a href="{%url 'change'%}">  <i class="fas fa-lock text-info m-2"> Change Password</i> </a><br>
                   <a href="{% url 'user_logout'%}"> <i class="fas fa-power-off text-info m-2">Logout</i></a>
               
                            </div>
  
                    </div>
                </div>
                
            {% endblock %}