{% extends 'base.html'%}
{% load static %}


{% block headblock%}
{% if user.is_superuser %}
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-4 ">
              <div class="jumbotron bg-danger">
                  <h1 class="">Sorry Mr/Miss {{user.username}} you are not allowed here!!</h1>
              </div>
          </div>
      </div>
  </div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-dark">
           <nav class="navbar navbar-dark ">
               <a href="" class="navbar-brand">
                    
                 <div class="text-center py-3">
                      {% if data.profile_pic %}
                         <img src="/media/{{data.profile_pic}}" style="height:50px;  width:50px; border-radius:50%">
                            {% else %}
                         <img src="{% static 'images/user.png'%}" style="height:50px; width:50px; border-radius:50%">
                     {% endif %}
                  </div>
                    <p>{{user.username}}</p>
                </a>
               <ul class="navbar-nav">
                   <li class="nav-item">
                       <a href="{% url 'cust_dashboard'%}" class="nav-link">
                           <i class="fas fa-user text-info m-2"> view profile</i>
                           </a>
                   </li>
                   <li class="nav-item">
                        <a href="{% url 'edit_profile'%}" class="nav-link">
                                <i class="fas fa-edit text-info m-2"> Edit profile</i></a>
                    </li>
                   <li class="nav-item">
                      <a href="{%url 'change'%}" class="nav-link">
                            <i class="fas fa-lock text-info m-2"> change password</i></a>
                  </li>
                  <li class="nav-item">
                    <a href="{%url 'cart'%}" class="nav-link">
                          <i class="fa fa-shopping-cart text-info m-2"> My Cart</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{%url 'order_history'%}" class="nav-link">
                              <i class="text-info m-2 fa fa-history"> Order History</i></a>
                        </li>
                        {% if user.is_staff%}
                           <li class="nav-item">
                               <a href="{%url 'add'%}" class="nav-link"> <i class="fas fa-plus text-info m-2">
                                Add Property</i></a>
                           </li>
                          <li class="nav-item">
                                <a href="{% url 'myproperty'%}" class="nav-link">
                                        <i class="fas fa-home text-info m-2"> My Property</i></a>
                            </li>
                      {% endif %}
                      <li class="nav-item">
                            
                        <a href="{% url 'sendemail'%}" class="nav-link">
                                    <i class="fas fa-envelope-open-text text-info m-2"> Send Email</i></a>
                        </li>

                       
                 <li class="nav-item">
                     <a href="{% url 'user_logout'%}" class="nav-link">
                            <i class="fas fa-power-off text-info m-2"> Logout</i></a>
                 </li>
               </ul>
           </nav>
        </div>
        <div class="col-md-10">
            {% block dashblock %}

            {% endblock %}

        </div>
    </div>
</div>

{% endif %}
{% endblock %}