{% extends 'dash_board.html'%}
{% block dashblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-4">
            <div class="card shadow shadow-lg">
                <div class="card-body">
                    <h3 class="text-danger">Are You sure want to delet</h3>
                    <img src="/media/{{property.property_image}}" height="200" width="100%" alt="">
                        <h4>{{property.property_name}}</h4>
                        <div class="mt-4">
                    <a href="{% url 'delete_property'%}?pid={{property.id}}&&action=confirm" class="btn btn-primary">Confirm Delete</a>
                    <a href="{% url 'myproperty'%}" class="btn btn-warning">Cancel</a>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/myproperty/"
</script>
{% endif%}
{% endblock %}