{% extends "dash_board.html"%}
{% load static %}
{% block myblock%}
<style>
    .bg-img{
            background: url( "{%static 'images/home5.jpg' %}");  height: 200px;  background-color: rgba(0, 0, 0, 0.6);
    }
    
   .ab{	  text-align: center;
	     margin-top:10px;
        color:pink;
}
</style>

{% endblock %}


{% block dashblock%}


  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 bg-img  text-center" >
              <h1 class="my-4"> Dashboard&gt;Edit profile</h1>
              <span ><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" class="ab"> Home ></a></span>
			<span> <a href="{% url 'cust_dashboard'%}" class="ab">My Profile></a></span>
			<span> <a href="{% url  'edit_profile'%}" class="ab">Edit Profile</a></span>
	
            </div>
              <div class="col-md-6  mx-auto bg-light ">
                  <div class="text-center">
                      {% if data.profile_pic %}
                  <img src="/media/{{data.profile_pic}}" style="height:150px; width:150px; border-radius:50%">
                  {% else %}
                  <img src="{% static 'images/user.png'%}" style="height:150px; width:150px; border-radius:50%">
                  {% endif %}
                </div>
                 <form action="" method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     {% if status %}
                         <div class="alert alert-primary">{{status}}</div>
                     {% endif %}
                     <div class="from-group">
                         <div class="row">
                             <div class="col-md-6">
                                 <label for="">First Name</label>
                                  <input type="text" class="form-control"  name ="fname" value="{{user.first_name}}" placeholder="enter fullname">
                               </div>
                               <div class="col-md-6">
                                    <label for="">Last Name</label>
                                     <input type="text" class="form-control"  name ="lname" value="{{user.Last_name}}" placeholder="enter Last name">
                                  </div>
                              <div class="col-md-6">
                                  <label for="">Email</label>
                                  <input type="email" class="form-control"  value="{{user.email}}" name="email"placeholder="enter email">
                               </div>
                               <div class="col-md-6">
                                    <label for="">Profile picture</label>
                                     <input type="file" class="form-control"  name ="image" >
                                  </div>
                           </div>
                      </div>
                      <div class="from-group">
                        
                          <div class="row">
                             <div class="col-md-6">
                                 <label for="">Contact</label>
                                 <input type="number" class="form-control" value="{{data.contact_number}}" name="contact" placeholder="enter contact number" pattern="[0-9]{10}" title="Number must contain 10 digits only">
                             </div>
                             <div class="col-md-6">
                                 <label for="">Age (in year)</label>
                                 <input type="number"  value ="{{data.age}}"class="form-control" placeholder="enter age" name="age" min="15" max="99">
                              </div>
                           </div>
                       </div>
                       <div class="from-group">
                        
                           <div class="row">
                              <div class="col-md-6">
                                 <label for="">City</label>
                                 <input type="text" class="form-control" value ="{{data.city}}"  name="city" placeholder="Enter City">
                               </div>
                               <div class="col-md-6">
                                 <label for="">Gender</label>
                                 <select name="gender" class="form-control">
                                     <option value="Male">Male</option>
                                     {% if data.gender == "Female" %}
                                     <option value="Female" selected>Female</option>
                                    {% else%}
                                    <option value="Female">Female</option>
                                    {%endif%}
                                    {% if data.gender == "others" %}
                                    <option value="others" selected>others</option>
                                   {% else%}
                                   <option value="others">others</option>
                                   {%endif%}
  
                                 </select>
                              </div>
                           </div>
                       </div>
                       <div class="from-group">
                
                           <label>Occupation</label>
                             <input type="text" value="{{data.occupation}}" class="form-control" placeholder="Enter Occupation" name="occ">
                       </div>
                     <div class="from-group">
                            <label>About You</label>
                            <textarea name="about" name="about" placeholder="write about yourself" class="form-control">{{data.about}}</textarea>
                     </div>
                     <div class="from-group">
                         <input type="submit" name="changeprofile" value="save change" class="btn btn-primary" style="width:50%; border-radius: 20px;" >
                     </div>
                   </form>
                </div>
            </div>
        </div>
   </div>
{% endblock %}