{% extends "base.html"%}
{%load static%}
{% block myblock %}
    <style>
        .bg{
         height: 400px; background-image: url("{% static 'images\h5.jpg'%}");
              background-size: 100% 100%;
         
          }
       
         .h1{
               font-style: cursive; color: red;
            }
        .myimg{
            height: 180px; background-size:100% 100%;  background: no-repeat; overflow: hidden;
        }
        .box:hover{
              height: 100px; width: 100%; background: rgba(0, 0,0, 0.5); color: white;
        }
       
        #p{
            word-spacing: 5px; color: rgb(177, 25, 50);
        }
        .c{
                     text-align: center; width: 60%;  
        }
        .agents .col-md-3{
            padding:10px;
        }
        .agents img{
            width:100%;
        }
        .container-fluid{
            overflow:hidden;
        }
   </style>
{% endblock %}
    
{% block headblock%}
<div class="container-fluid ">
  <div class="row bg">
      <div class="col-md-7 mx-auto">
         <h1 class="h1  p-4 text-center">WELCOME TO HOMMEY.COM</h1>
          <em class="text-center  " id="p">(Find Your Dream Properties.Properties made up of land as well as anything on it,the Rights of use and enjoyment of that land and all its improvements.)</em>
     
            <form action="{%url 'all'%}">
               <div class=container-fluid>
                   <div class="row">
                        
                        <div class="col-md-8 text-center">
                            <div  class="form-group " >
                              <input type="text" class="form-control " name=qry placeholder="Search by name">
                           </div>  
                        </div>
                      
                        <div class="col-md-4 ">
                            <div  class="form-group  ">
                               <button type="submit" class="btn btn-primary">Search</button>
                            </div> 
                        </div> 
                    </div>
                </div>
            </form> 
        </div> 
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
         <h1 style="color:red;">Our Categories ({{Category|length}})</h1>
        </div>
        {% for c in Category%}
        <div class="col-md-3 p-4 text-center" >
            <div style="box-shadow:0px 0px 10px black; background:url('/media/{{c.cover_pic}}'); " class=" myimg p-1">
                
            <!--  <img src="media/{{c.cover_pic}}" alt="" height="200px" width="100%">-->
            <a href="{% url 'all'%}?cat={{c.id}}">
                            
                <div class="box" style="height:250px;">
                    <h2 style="font-size:20px; color:red;">{{c.cat_name}}</h2>
                    <p style="font-size:18px; color:blue;">{{c.description}}</p>
                </div>
            </a>
        </div>
     </div>
        {% endfor %}

    </div>
</div>
<div class="container-fluid">
    <div class="row">
         <div class="col-md-12">
             <h2 class="text-center my-2">Why Choose Us?</h2> 
             <p class="text-center">We help you to grow business with More than 25 year experience with these services.</p>
        </div>
    </div>
         <div class="row">
                <div class=" col-md-3 text-center  my-2">
                        <img src="{% static 'images/h7.jpg'%}" alt="" style="height:250px; width:250px;">
                </div>

             <div class="col-md-9">
                 <div class="row">
                    <div class="col-md-3">
                        <div class="text-left">
                            <img src="{% static 'images/check.png'%}"  height="60px" width="60px" alt="">
                        </div>
                        <p class= "text-justify"> We ensure all Showings are Agent assisted. No Property access is granted unless the propective tenant is accompained by a licensed Agent. </p>
                        </div>
             <div class="col-md-3">
                    <div class="text-left">
                    <img src="{% static 'images/check.png'%}"  height="50px" width="50px" alt="">
                    </div>
                    <p class= "text-justify"> This should tell you one thing: if you’re selling a house in 2018, you don’t just need to be on the internet, you need to be on the right real estate websites on Hommy.Com </p> 
            </div>
                <div class="col-md-3">
                        <div class="text-left">
                        <img src="{% static 'images/check.png'%}"  height="50px" width="50px" alt="">
                        </div>
                          <p class= "text-justify" >We use security code lockboxes on each property so that other Agents do not have to sign out a key at our Office.</p>
                    </div>
                    <div class="col-md-3">
                            <div class="text-left">
                            <img src="{% static 'images/check.png'%}"  height="50px" width="50px" alt="">
                            </div>
                            <p class= "text-justify">We Show your property not only during the week but on weekned,too.</p>
                    </div>
                   
                    </div>
                 </div>
         </div>

    </div>


<div class="container-fluid">
    <div class="row " style="background-color:slateblue;  background: rgba(0, 0, 0, 0.4);">
        <div class="col-md-4 text-center my-2" >
                <img src="{%static 'images/logo1.png'%}"  height="70px" width="70px">
                <h2 class="text-center my-1 p-2">Houses</h2>
                <p class= text-justify>Real estate is property consisting of houses on it, along with its natural resources such as crops, minerals or water; immovable property of this nature; an interest vested in this (also) an item of real property,</p> 
            </div>
        <div class="col-md-4 text-center my-2">
                <img src="{%static 'images/app.jpg'%}"  height="70px" width="70px">
            <h2 class="text-center my-2  p-2">Apartments</h2>
            <p class= "text-justify"> An individual unit in a multi-unit building. The boundaries of the apartment are generally defined by a perimeter of locked or lockable doors. Often seen in multi-story apartment buildings.</p>
        </div>
        <div class="col-md-4 text-center my-2">
                <img src="{%static 'images/land.jpg'%}"  height="70px" width="70px">
            <h2 class="text-center my-2  p-2">Lands</h2>
            <p class= "text-justify"> land is the principal mechanism by which communities are developed. Technically, subdivision describes the legal and physical steps a developer must take to convert raw land into developed land</p>   
        </div>
    </div>
</div>
 <div class="container-fluid">
     <div class="row">
         <div class="col-md-12 text-center">
             <h1>Meet Our Agents</h1>
              <p>We help you to grow business with More than 35 years experience with these<br/> services</p>
         </div>
     </div>
 </div>
        <div class="container-fluid agents">
            <div class="row">
               <div class="col-md-3 text-center">
                  <img src="{%static 'images/agent6.jpg'%}" height="310px">
                   <h5  style="text-align:center; margin-top: 15px;">Arafa Sherief</h5>
                   <p>4 properties</p>
              </div>
             <div class="col-md-3 text-center">
                 <img src="{%static 'images/agent7.jpg'%}" height="310px;" >
                 <h5 style="text-align:center; margin-top: 15px;" >Macro Ghaly</h5>
                 <p> 6 properties</p>
             </div>
             <div class="col-md-3 text-center">
                   <img src="{%static 'images/agent3.jpg'%}" height="310px;" >
                    <h5 style="text-align:center; margin-top:15px;">Mody Magdy</h5>
                    <p>3 properties</p>
              </div>
               <div class="col-md-3 text-center">
                   <img src="{%static 'images/agent1.jpg'%}" height="310px;">
                   <h5  style="text-align:center; margin-top: 15px;"> Sherief Arafa</h5>
                  <p>2 properties</p>
             </div>
         </div>
      </div>
 <div class="container-fluid mt-5"  >
     <div class="row bg-info py-4">
         <div class="col-md-6 mt-5 text-white">
             <h3 style="">10% Off If You Subscribe Now</h3>
              <p style="margin-left: 00px;">Get the best prices right in your email</p>
            </div>
              <div class="col-md-6">      
                    <input type="Email" placeholder="Enter Your Email Address..." class="rounded-pill" style="width:450px; border:none; margin-top:60px;"   
                     > <div class="input-group-append">
                    <i class="fas fa-paper-plane bg-info text-white" style=" border-radius: 50%; padding:8px;"></i>
                    </div>
                </div>	
                
          
     </div>
 </div>
       
 {% endblock%}
        
