{% extends 'dash_board.html'%}
{% load static %}
{% block myblock %}
     
      
<style>
	.a{
		background-image:url("{% static 'images/couch3.jpg'%}");
		background-size:cover;
		height: 200px;
		
		
	}
	.DR
	{
		background-color:  rgba(19, 18, 18, 0.644);

	}
	
.b{
	
	text-align: center;

color:white;
	

}
a 
{
	color:blue;
	text-decoration: none;
}
.m h4{
            border-bottom:3px solid #1e9bd4;
            
             padding:  20px 0;
             }
       
	
	</style>
{% endblock %}

{% block  dashblock %}
	        
        
       <div class="container-fluid">
		  <div class="row a">
         	  <div class="col-md-12 DR">
		         <div class="b p-4" >
			         <h1>My Properties</h1>
			         <span><i class="fas fa-home text-info"></i><a href=""> Home ></a></span>
			          <span> <a href="">My Properties</a></span>
                   </div>
	        	</div>
	    	</div>
		</div> 
		<div class="container">
			<div class="row">
				<div class="col-md-12 table-responsive"> 
					<h3 class="text-center py-3">My Property( {{property|length}})</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Property Id</th>
					<th>Property Image</th>
					<th>Property Name</th>
					<th>Owner Name</th>
					<th>Property Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for p in property %}
				 <tr>
						 <td>{{p.id}}</td>
						 <td><img src="/media/{{p.property_image}}"style="height: 50px; width=80px;" alt=""></td>
						 <td>{{p.property_name}}</td>
						 <td>{{p.owner.first_name}} {{p.owner.last_name}}</td>
						 <td>
				             <button class="btn btn-success" data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye">View</i></button>
				             <a href="{% url 'update_property'%}?pid={{p.id}}" class="btn btn-primary"><i class="fa fa-edit">Edit</i></a>
				             <a href="{% url 'delete_property'%}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash">Delete</i></a>
							
						 </td>
					   
				 </tr>
				   <div class="modal fade" id="m{{p.id}}">
					   <div class="modal-dialog modal-lg">
				            <div class="modal-content">
					             <div class="modal-header">
						             <h4>Property Detatils</h4>
						              <button class="close" data-dismiss="modal">&times;</button>
					               </div>
					   <div class="modal-body">
					 	 <a href="{% url 'single' %}">
						      <img src="/media/{{p.property_image}}"  height="200" width="100%"alt=""></a>
						   <h1>
					          {{p.property_name}}
						  </h1>
						   <p>{{p.property_category.cat_name}}</p>
						   <p>
							   <del>र {{p.price}}</del>
							   <strong>र {{p.booking_amount}}</strong>
						   </p>
						     <p>{{p.property_status}}</p>
						     <p>{{p.description}}</p>
						</div>
						<div class="modal-footer">
							   <a href="{%url 'single'%}?pid={{p.id}}" class="btn btn-success">View Details</a>

						</div>
				   </div>
			   </div>
		   </div
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>
{% endblock %}
