{% extends "dash_board.html"%}
{% load static %}

{% block myblock%}
<style>
    .bg-img{
            background:url( "{%static 'images/th3.jpg' %}");  height: 150px; width: 100%; background-size:100% 100%; 
            background-color: rgba(36, 18, 18, 0.5);      background: linear-gradient(to left,red,blue);
    }
</style>

{% endblock %}
{% block dashblock%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img p-2 text-center text-light" >
            <h1 class="my-3"> Dashboard&gt; Order Property Histroy</h1>
            <span ><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" > Home ></a></span>
            <span> <a href="{% url 'all'%}">All Properties></a></span>
            <span> <a href="{% url 'cust_dashboard'%}">My Profile</a></span>
          </div>
          <div class="col-md-12 alert alert-danger ">
              {% for i in order_history %}
              <div class="card my-5">
                  <div class="card-header">
                      <strong class="float-left">Order Id:{{i.order_id}}</strong>
                      <em class="float-right">processed On:{{i.date}}</em>
                  </div>
                  <div class="card-body">
                      <table class="table table-bordered table-hover table-striped">
                          {% for j in i.property %}
                            <tr>
                                <td>
                                    <img src="/media/{{j.property_image}}" width="200" height="100" alt="no image">
                                </td>
                                <td><h4>{{j.property_name}}</h4></td>
                                <td><h4>&#8377;{{j.booking_amount}}</h4></td>
                                <td><a href="{% url 'single'%}?pid={{j.id}}" target="_blank" class="btn btn-success"><i class="fa fa-eye"></i>View</a></td>
                            </tr>
                          {% endfor%}
                      </table>

                  </div>
                  <div class="card-footer">
                      <table class="table">
                          <tr>
                              <th>INVOICE</th>
                              <td>{{i.invoice}}</td>
                              <th>STATUS</th>
                              <td>
                                  {% if i.status %}
                                  <button class="btn btn-primary btn-block"><i class="fa fa-check"></i>Success</button>
                                  {% else %}
                                  <button class="btn btn-danger btn-block">&times;Pending</button>
                                  {% endif%}
                              </td>
                          </tr>

                      </table>

                  </div>
              </div>
              {% endfor %}
          </div>
          </div>
          </div>
{% endblock %}