{% extends 'base.html'%}
{% load static %}
{% block headblock %}
   <div class="container-fluid">
       <div class="row">
            <div class="col-md-6 mx-auto my-5 p-5" style="box-shadow:0px 0px 10px grey">
                <h1 class="text-warning text-center">Click Here To Continue</h1>
                {{form.render}}
            </div>
       </div>

   </div>
{% endblock %}