{% extends 'base.html'%}
{% block myblock%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>seller_dashboard</h2>
            <h1>welcome{{user.first_name}} {{user.last_name}}</h1>

        </div>
    </div>
</div>
{% endblock%}