{% extends "dash_board.html"%}
{% load static %}
{% block myblock%}
<style>
    .bg-img{
            background-color: darkblue;  height: 100px;background: linear-gradient(to right,rgb(0, 255, 115),blue); height: 150px;
    }
    .col-md-6{
        background-color: aqua;
    }
    .abc{
        color: pink;
    }
    .ar{
        background-color: pink;
    }
</style>

{% endblock %}


{% block dashblock%}


  <div class="container-fluid">
      <div class="row ar">
          <div class="col-md-12 bg-img  text-center" >
              <h1 class="my-3"> Dashboard&gt;Send Email</h1>
              <span ><i class="fas fa-home "></i><a href="{% url 'home'%}" class="abc"> Home ></a></span>
              <span> <a href="{% url 'cust_dashboard'%}" class="abc">My Profile</a></span>
            </div>
              <div class="col-md-6  mx-auto bg-light p-3 my-5 shadow shadow-lg ">
                  {% if status %}
                   <div class="alert alert-{{cls}}">{{status}}</div>
                   {% endif %}
                 <form method="POST">
                     {% csrf_token%}
                     <div class="form-group">
                         <label for="">To</label>
                         <input type="text" class="form-control" placeholder="To" name="to">
                     </div>
                     <div class="form-group">
                        <label for="">Subject</label>
                        <input type="text" class="form-control" placeholder="Subject" name="sub">
                    </div>
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea name="msz"  rows="5" placeholder="Enter  Your Message" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      
                        <input type="submit" class="btn btn-outline-primary rounded-pill" value="Send Email"style="width:100px;">
                    </div>
                 </form>
            </div>
        </div>
   </div>
{% endblock %}