{% extends 'base.html'%}
{% block myblock%}
  <style>
      
      #f{
                background: rgba(0, 0, 0, 0.4);width: 40%;padding:2px;   margin-bottom: 10px; margin-left: 24%;
        
            }
            h1{
                text-align: center; text-emphasis-style: cursive; color: blue;
            }
            .btn{
                width: 50%;
            }
            
  </style>
{% endblock%}
{%block headblock %}
<div class="container-fluid">
    <div class="row" style="background:url('/static/images/th.jpg');  background-size:100% 100%;">
      <div class="col-md-12" >
   
                <h1>Sign UP Here</h1>
                <form action="" method="POST" id="f">
                    {% csrf_token%}
                    <div class="form-group" id="o">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" placeholder="First Name" class="form-control" name="first">
                        </div>
                        <div class="col-md-6">
                                <label for="">Last Name</label>
                                <input type="text" placeholder="Last Name" class="form-control" name="last">
                            </div>
                        </div>
                    </div>
                    <div class="from-group" id="o">
                        <small id="result"></small>
                    </div>
                    <div class="form-group" id="o">
                        <label for="">Username</label>
                        <input type="text" placeholder=" enter username" class="form-control" name="uname" id="username" onkeyup="checkuser()">
                    </div>
                        <div class="form-group" id="o">
                                <label for="">Email</label>
                                <input type="text" placeholder="Enter Email" class="form-control" name="email">
                            </div>
                            <div class="form-group" id="o">
                                <label for="">Password</label>
                                <input type="password" placeholder=" enter Password" class="form-control" name="Password">
                            </div>
                       
                            <div class="form-group" id="o">
                                    <label for="">Contact Number</label>
                                    <input type="number" placeholder="Enter mobile number" class="form-control" name="contact">
                                </div>
                                <div class="form-group" id="o">
                                        <label for="">User Type</label>
                                    <select name="utype" class="form-control">
                                        <option value="cust">I am Customer</option>
                                        <option value="sell">I am Seller</option>
                                    </select>
                                    </div>
                                    <div class="form-group" id="o">
                                        <input type="submit" value="Send" class="btn btn-primary">
                                    </div>
                              </form>
                           </div>
 </div>
</div>

    <script>
        function checkuser(){
            let un = document.getElementById("username").value;
            $.ajax({
                url:"{% url 'check_user'%}",
                type:"get",
                data:{usern:un},
                success:function(data){
                      if(data=="exists"){
                          $("#result").html("This user name allready taken"). addClass("text-danger");
                          $("#username").addClass("alert  alert-danger");
                          $("#submitbtn").attr("disabled","disabled" );
                      }else{
                        $("#result").html("");
                        $("#submitbtn").removeAttr("disabled");
                      }
                }
            })
        }
    </script>
    {% if status %}
      <script>
          alert("{{status}}");
      </script>
      {% endif %}
{% endblock%}