{% extends "base.html"%}
{%load static%}
{% block myblock %}
<style>
     th,td{
         width:30%;
     }
     .dp{
         		background-color:rgba(0, 1, 1, 0.5);
     }
     .abcd{
           color:orangered;
       }
</style>

{% endblock%}
     
      
   
{% block headblock %}
     <div class="container-fluid">
        <div class="row  bg-light text-secondary pb-1">
            <div class="col-md-12 text-center dp text-danger p-5" style="background: url({%static 'images/inn18.jpg'%}); background-size:100% 200px;">
                <h1 style="font-size: 60PX;">Property details</h1>
                <span><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" class="abcd"> Home ></a></span>
                <span> <a href="{% url 'myproperty'%}" class="abcd">My Property</a></span>
            </div>
        </div>
    </div>
           <div class="container">
               <div class="row py-4">
                   <div class="col-md-8">
                       <div class=" mx-auto">
                       <img src="/media/{{property.property_image}}"  alt="no image" style="height:300px;width:70%;">
                   </div>
                      <h1 class="py-2">Property Details</h1>
                      <table class="table bg-light">
                          <tbody>
                              <tr>
                                  <th>Property Id</th>
                                  <td>{{property.id}}</td>
                              </tr>
                              <tr>
                                    <th>Property Name</th>
                                    <td>{{property.property_name}}</td>
                                </tr>
                                <tr>
                                        <th>Property Price</th>
                                        <td>&#8377;{{property.price}}</td>
                                    </tr>
                                    <tr>
                                            <th>Booking Amount</th>
                                            <td>&#8377;{{property.booking_amount}}
                                            <script>
                                                let t="{{property.price}}";
                                                let s="{{property.booking_amount}}";
                                                let dis=100-((s/t)*100);
                                                document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>");
                                            </script>
                                            </td>
                                        </tr>
                                        <tr>
                                                <th>Property Description</th>
                                                <td>&#8377;{{property.description }}</td>
                                            </tr>
                                    

                          </tbody>

                      </table>          
               </div>
                
               <div class="col-md-4">
                   <div class="card">
                       <div class="card-header">
                           <h4>Owner Details</h4>
                       </div>
                       <div class="card-body">
                           <table class="table">
                            <tr>
                                 <th>First Name</th>
                                  <td>{{property.owner.first_name}}</td>
                            </tr>
                            <tr>
                                    <th>Last Name</th>
                                     <td>{{property.owner.last_name}}</td>
                               </tr>
                               <tr>
                                    <th>Email</th>
                                     <td>{{property.owner.email}}</td>
                               </tr>
                               <tr>
                                    <th>Member Since:</th>
                                     <td>{{property.owner.date_joined}}</td>
                               </tr>
                               

                           </table>
                       </div>
                   </div>
                   <h4 class="alert alert-dark my-2">Category Details</h4>
                   <table class="table">
                          <tr>
                              <th>Category Id</th>
                              <td>{{property.property_category.id}}</td>
                          </tr>
                          <tr>
                                <th>Category Name</th>
                                <td>{{property.property_category.cat_name}}</td>
                            </tr>
                            <tr>
                                    <th>Category Image</th>
                                    <td>
                                        <img src="/media/{{property.property_category.cover_pic}}"  style="height:150px;width:100px;">
                            
                                    </td>
                                    
                                </tr>
                                <tr>
                                        <th>Category Description</th>
                                        <td>{{property.property_category.description}}</td>
                                    </tr>

                   </table>

               </div>
           </div>
        </div>
                
                   
           
    
    {% endblock %}   

    

