{% extends 'dash_board.html'%}
{% load static%}
{% block myblock%}
  <style>
      form .row{
          margin-top:2%; 
      }
      .card-header{
          background-color: blueviolet; 
      }
      
       .r{
           background-color:pink;
       }
       .abcd{
           color:orangered;
       }
  </style>
{% endblock%}
{% block dashblock%}
    <div class="container">
        <div class="row">
                <div class="col-md-12 text-center dp text-danger p-5" style="background: url({%static 'images/h2.jpg'%}); background-size:100% 200px;">
                    <h1 style="font-size: 60PX;">Edit Property</h1>
                    <span><i class="fas fa-home text-info"></i><a href="{% url 'home'%}" class="abcd"> Home ></a></span>
                    <span> <a href="{% url 'myproperty'%}" class="abcd">My Property</a></span>
                </div>
         </div>
         <div class="row r">
        
             <div class="col-md-8 mx-auto">
                <div class="card">
                <div class="card-header">
                <h3 class="text-center"> Dashboard &gt; Edit Property</h3>
         </div>
            <div class="card-body bg-light">
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                 <div class="row">
                        <div class="col-md-12">
                              <div class="text-center">
                                <img src="/media/{{property.property_image}}" style="height: 200px; width: 80%;" alt="">
                            </div>
                                <label class="mt-3">Update Image</label>
                                <input type="file" class="form-control" name="pimg"  >
                            </div>
  
                     <div class="col-md-6">
                         <label class="mt-2">Property Name</label>
                     </div>
                     <div class="col-md-6">
                            <input type="text" class="form-control mt-2" name="pname" value="{{property.property_name}}">
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                            <label for="">Property Category</label>
                        </div>
                        <div class="col-md-6">
                             <select name="pcat"  class="form-control">
                                 {% for i in Category %}
                                  {%if i.id == property.property_category.id%}
                                  <option value="{{i.id}}" selected>{{i.cat_name}}</option>
                                  {% else %}
                                 <option value="{{i.id}}">{{i.cat_name}}</option>
                                 {% endif %}
                                 {% endfor %}
                             </select>
                           </div>
                     </div>
                     <div class="row">
                            <div class="col-md-6">
                                <label for="">Property Price</label>
                            </div>
                            <div class="col-md-6">
                                   <input type="number" class="form-control" name="pp" value="{{property.price}}">
                               </div>
                         </div>
                         <div class="row">
                                <div class="col-md-6">
                                    <label for="">Booking Amount</label>
                                </div>
                                <div class="col-md-6">
                                       <input type="number" class="form-control" name="sp" value="{{property.booking_amount}}">
                                   </div>
                             </div>
                             <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Description</label>
                                    </div>
                                    <div class="col-md-6">
                                       <textarea name="des" class="form-control"  rows="5">
                                           {{property.description}}
                                       </textarea>
                                       </div>
                                 </div>
                                 <div class="row">
                                        <div class="col-md-4">
                                     <input type="submit" class="btn btn-primary" value="Update Property">
                                 </div>
                                 </div>
            </form>
             </div>
            </div>
        </div>
    </div>
    </div>
    {% if status %}
    <script>
        alert("{{status}}");
        window.location="update_property/?pid={{id}}";
    </script>
    {% endif%}
{% endblock%}