{% extends 'base.html'%}
{% load static%}
{% block myblock%}
<style>
    .form-group{
        height: 100px; color: white;
    }
   .modal-content{
                background: rgba(0, 0, 0, 0.4);width: 100%;padding:2px;   
        
            }
            h1{
                text-align: center; text-emphasis-style: cursive; color: blue;
            }
            .form-control{
                height: 50px;
            }
         #b {
              width: 100%;
          }
          #R{
              padding-left:20px;
          }
</style>
{% endblock%}
{% block headblock%}
  <div class="container-fluid">
      <div class="row" style="background: url({%static 'images/th.jpg'%}); background-attachment: fixed; background-size:100% 100%;">
          <div class="col-md-4 my-3" style="margin-left:20%;">
                  <div class="madal" id="mymodal">
                     <div class="modal-dailog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h1>Sign In</h1>
                                 <button class="close" data-dismiss="modal">&times;</button>
                              </div>       
                             <div class="modal-body">         
                                 <form action="" method="POST">
                                     {% csrf_token %}
                                     <div class="form-group">
                                         <label>User Name</label>
                                         <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                </div>
                                              <input type="text" class="form-control" name="username" placeholder="enter username">
                                           </div >
                                      </div>
                                      <div class="form-group">
                                           <label>Password</label>
                                         <div class="input-group">
                                             <div class="input-group-prepend">
                                                 <span class="input-group-text ">
                                                     <i class=" fa fa-key"></i>
                                                 </span>
                                              </div>
                                                 <input type="password" class="form-control" name="password" placeholder="enterpassword">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <input type="checkbox" id="R"  name="rememberme"><label>Remember me</label>
                                             <a href="{% url 'forgotpass'%}">Forgot Password</a>
                                     </div>
                                          <div class="form-group">
                                             <a href="{{% url 'cust_dashboard'%}"><input type="submit"value="login" id="b" class="btn btn-success"></a>
                                           </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
       </div>
 </div> 
 {% if status%}
     <script>s
         alert("{{status}}")
         window,location="/user_login"
     </script>
  {%endif%}
                  
{% endblock%}