<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
</head>
<body>
        <div class="container-fluid">  
                <header>
              <div class="header_wrapper">
                        <div class="social_icon">
                      <i class="fab fa-facebook"></i>
                       <i class="fab fa-twitter"></i>
                       <i class="fab fa-youtube"></i>
                       <i class="fab fa-google-plus-g"></i>
                  </div>
                  <div class="email">
                      <p>Email:Reenaverma@gmail.com</p>
                  </div>
              </div>
             
              <div class="menu">
                      
                      <nav class="navbar navbar-expand ">
                          <input type="checkbox" id="check">
                          <label for="check">
                              <i class="fas fa-bars"></i>
                      
                          </label>
                          <label class="logo">Hommy.coM</label>
                  <ul>
                      <li><a href="">Home</a></li>
                      <li><a href="">About </a></li>
                      <li><a href="">Service</a></li>
                      <li><a href="">Contact us</a></li>
                      <li><a href="">Registration</a></li>
                      
                  </ul>
              </nav> 
              </div>
               </header>
               <footer>
                    <div class="footer_wraping  py-5 px-5">
                       
                        <div class="row text-light p-5">
                                <div class="col-md-3">
                                    <h1>Hommy.Com</h1>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nostrum saepe, voluptatem consectetur rerum aspernatur nesciunt repellat deleniti ea similique rem assumenda explicabo veritatis animi ipsam tenetur beatae suscipit necessitatibus.</p>
                                
                                <div class="social">
                                        <i class="fab fa-facebook"></i>
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-google-plus-g"></i>   
                                </div>
                                </div>
                                <div class="col-md-3">
                                 <h1>Main Links </h1>
                                   <ul>
                                       <li>About Hommey.com Forum</li>
                                       <li>Delivery Information</li>
                                       <li>Terms & Conditions</li>
                                       <li>Team Discussion On Hommy</li>
                                   </ul>
                                      
                                </div>
                                <div class="col-md-3">
                                    <h1>Contact Us</h1>
                                    <form class="">
                                        <input type="Email" placeholder="Enter your Email adress.." class="e1"><br><br>
                                        <textarea class="e1" placeholder="message" cols="22" rows="3"></textarea>
                                    </form>    
                                    </div>
                
                                    <div class="col-md-3">
                                        <h1>Quick links</h1>
                                            <ul>
                                                <li>Home</li>
                                                <li>About</li>
                                                <li>Contact Us</li>
                                                <li>Registration</li>
                                                
        </ul>
                 </div>
                        
            <div class="footer-bottom">
                &copy;2020 created by Reenaverma All rights Reserved.
            </div>
                
                            </div>
                        </div>
                    </div>
                    </div>
                </footer> 
            </div> 

            
         
</body>
</html>